body {
    background-color: #F5F5F5;
}
div#background {
    position: absolute;
    float: left;
    width: 100%;
    z-index: 1;
}
div#background #background-top {
    position: absolute;
    float: left;
    width: 100%;
    height: 350px;
    background-color: #1d1d1d;
    background-image: url("../img/3881185-big-data-wallpaper-compressor.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: 2;
}
#upbox {
    position: relative;
    z-index: 100;
    margin-top: 8rem;
}
#header {
    background-color: #2b5797;
    padding: 0;
    overflow: hidden;
    color: #fff;
}
#header p {
    font-size: 18px;
}
#header p a {
    color: #eff4ff;
}
#photo {
    padding: 0;
    margin:0;  
}
.photo {
    height:250px;
}
p {
    margin-bottom: 0.5rem;
}
#body {
    background-color: #fff;
    padding-top: 20px;
}

h3.title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.widget-box {
    padding-left: 40px;
    margin-bottom: 20px;
}
.widget-box h5 {
    list-style: circle;
}